<nav class="navbar navbar-expand-lg navbar-light bg-light font-weight-bold">
  <a class="navbar-brand" href="/">
    <img
      src="https://www.coronatracker.com/_nuxt/img/262cfac.png"
      width="30"
      height="30"
      alt=""
      loading="lazy"
    />
  </a>
  <a class="navbar-brand" href="/"
    >Covid19 <span class="text-danger">Tracker</span></a
  >

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About Covid19</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Prevention</a>
      </li>
    </ul>
  </div>
</nav>
